extends layout

block content
    .club-detail-page
        .club-detail-header
            img.club-detail-logo(src=club.logo, alt=club.name + ' Logo')

            .club-detail-info
                h1= club.name
                .club-detail-tags= (club.category || 'General')
                p.club-detail-description= club.shortDesc

                .club-detail-meta
                    p= 'Meets in ' + (club.location || 'TBD')
                    p= 'Advisor: ' + (club.advisor || 'TBD')

                .club-detail-social
                    a(href='https://www.google.com/?safe=active&ssui=on&zx=1771349085389&no_sw_cr=1', target='_blank')
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png', alt='Instagram')
                    a(href='https://www.google.com/?safe=active&ssui=on&zx=1771349085389&no_sw_cr=1', target='_blank')
                        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2sSeQqjaUTuZ3gRgkKjidpaipF_l6s72lBw&s', alt='Google')

        .club-officers-section
            h2 Meet the Officers
            .club-officers-grid
                if club.officers && club.officers !== 'No officers listed' && club.officers !== 'See details page'
                    each officer in club.officers.split(', ')
                        .club-officer-card
                            img(src=officer.officerimage, alt="Officer" + ' Image')
                            p= officer
                else
                    .club-officer-card
                        img(src="https://static.vecteezy.com/system/resources/thumbnails/020/911/740/small/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png", alt="No officer")
                        p No officers listed yet

        .club-info-sections
            .club-info-block
                h3 What is this Activity?
                p= club.shortDesc || 'No description available.'

            .club-info-block
                h3 What makes this Activity unique?
                p= club.shortDesc || 'Information coming soon.'

            .club-info-block
                h3 What does a typical meeting look like?
                p= 'Meetings are held ' + (club.meeting || 'at a time TBD') + ' in ' + (club.location || 'a location TBD') + '. Contact the advisor or officers for more details.'

        .club-admin-actions
            a.back-button(href="/") Back
            a(href="/clubs/" + club.id + "/edit") Edit Club
            form(action="/clubs/" + club.id + "/delete", method="POST", style="display: inline;")
                button(type="submit", onclick="return confirm('Are you sure you want to delete this club?')") Delete Club
